* {
  margin: 0;
  padding: 0;
}
.header {
  background: #445161;
}
.container {
  max-width: 75%;
  margin: auto;
}
.top {
  display: flex;
  justify-content: space-between;
}
.h1 {
  font-size: 60px;
  line-height: 69px;
  align-items: flex-end;
  color: #ffffff;
}
.block_top {
  width: 300px;
  height: 150px;
  left: 750px;
  top: 25px;
  background-color: #ffffff;
  margin: 30px 5px;
}

.arrow {
  list-style-image: url(img/Vector.png);
  color: #ffffff;
}
.about {
  display: flex;
}
.subtitle {
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #445161;
}
.paragraph {
  margin-top: 11px;
  text-align: left;
  margin-right: 96px;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: #333333;
}
.video {
  margin-bottom: 60px;
}
.info {
  display: flex;
  background: #f5f5f5;
}
.delectus {
  list-style-image: url(img/plus_icon.png);
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: #333333;
}
.screen {
  background: #f5f5f5;
}
.dignity {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #445161;
  padding-bottom: 30px;
  margin: auto;
}
.list {
  display: flex;
  justify-content: space-around;
}
.first {
  margin-right: 36px;
}
.description {
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #445161;
}
.lorem {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #333333;
}
.right_items {
  display: flex;
}
.left_items {
  display: flex;
}
.text {
  margin-bottom: 25px;
  padding-left: 14px;
}
.cat {
  margin-bottom: 30px;
}
.reviews {
  background: #f5f5f5;
}
.hlpr {
  display: flex;
  margin: 20px 20px;
}
.feedback {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background: #ebebeb;
  border-radius: 5px;
}
.sign {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #989898;
}
.buy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.form {
  display: flex;
}
.footer {
  background: #445162;
}
